$ul: 1320px;
$lg: 1140px;
$md: 856px;
$sm: 768px;
$xs: 582px;
$xxs: 375px;
$xxxs: 320px;

$gap: 1rem;
$gap-sm: $gap * 0.5;
$gap-md: $gap * 0.75;

$font-size: 16px;

$m-1: .5rem;
$m-2: 1rem;
$m-3: 1.5rem;
$m-4: 2rem;
$m-5: 3rem;

$z-tooltip: 10;
$z-fixed: 100;
